@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
    font-weight: 800;
    font-weight: bold;
}